@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #2D2D2D;
}
.wrap {
    margin: 0 auto;
    width: 1280px;
}

a {
    color: inherit;
    text-decoration: none;
}
li {list-style: none;}

.clearfix {
    display: block;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

/*notice 섹션*/
.tit {
    display: block;

}
.tit h1 {
    margin: 70px 0 50px 0;
    display: inline-block;
    position: relative;
    float: left;

    font-size: 50px;
    font-weight: 600;
}
.more {
    color: #004EA2;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    float: right;
    margin: 90px 0 0 0;
}

.material-symbols-outlined {
    padding-left: 20px;
position: relative;
top: 8px;
}


.notice ul {
    display: block;
    position: relative;
    float: left;
}

.notice ul li {
    float: left;
    width: 400px;
    margin-right: 40px;
}

.notice ul li:last-child{margin-right: 0;}

.notice strong {
    display: block;
    position: relative;
    margin: 15px 0 10px 0;
    font-size: 20px;
    font-weight: 600;
}
.notice p {
    display: block;
    line-height: 1.3;
    margin-bottom: 100px;
}

.daejeon {
    background-image: url(../images/Rectangle\ 4.png);
    padding: 200px 0 0 0;
    color: #FFFFFF;
    height: 700px;
}
.left {
    width: 580px;
    float: left;
    position: relative;
}

.left h2 {
    font-size: 20px;
    font-weight:100;
    margin-bottom: 20px;
}

.left h1{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;

}
.daejeon .left span {
    display: block;
}



.right {
    width: 700px;
    float: right;
    position: relative;
}

/*그리드 시작*/
.grid {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px;
    grid-gap: 20px;
}

.gr {
    padding-top: 45px;
    height: 160px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}

.daejeon .right h4 {
    display: block;
    position: relative;
    font-size: 15px;
    font-weight: 200;
    margin-top: 20px;
}

.daejeon .right span {
    padding: 0;
    display: block;
    position: relative;
    font-size: 40px;
}





